<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add shoe</title>
  </head>
  <body>
    <form action="/add" , method="post">
      <div class="shoe">
        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender" />

        <label for="type">Type:</label>
        <input type="text" id="type" name="type" />

        <label for="size">Size:</label>
        <input type="text" id="size" name="size" />

        <label for="price">Price:</label>
        <input type="text" id="price" name="price" />
      </div>

      <button>Submit</button>
    </form>

    <%- include("error") %>
  </body>
</html>
